.Rproj.user
.Rhistory
.RData
*.Rproj
*/rsconnect
*/shinyapps
FindRegLine/rsconnect/
.DS_Store
GetToKnow/responses.csv
GetToKnow/.httr-oauth
GetToKnow/responses/*
!GetToKnow/responses/initialResponses.csv
